---
title: Data Science Resources
subtitle: What I've discovered from my growing interest in Data Science
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>{{ title }}</title>
  </head>
  <body>
      <div class="container max-w-2xl mx-auto px-3">
          {{ content }}
      </div>
  </body>
</html>